<html lang="sv-SE">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <title>Error</title>
</head>
<body class="header--sticky header--static">
<div id="wrapper">
    <header>
        <div class="__group">
            <div id="logo">
                <a href="https://foo.bar/">
                </a>
            </div>
        </div>
    </header>
    <section>
        <div style="display:inline-block;">
            <h1 style="display:inline-block;">{{ title }}</h1>
        </div>
    </section>

    <section>
        <div>
            <div>
                <br/>
                <p>
                    {{ message }}
                </p>
            </div>
        </div>
    </section>
</div>
</body>
</html>
